<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    
    <head>
        <title>To-do List</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="css/style1.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    </head>

    <body>
        <nav>
            <input id="nav-toggle" type="checkbox">
            <div class="logo">To-do</div>
            <ul class="links">
                <li><a href="/home">Home</a></li>
                <li><a href="/add-todo">Add Task</a></li>
                <li><a href="#contactus">Contact Us</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
            <label for="nav-toggle" class="icon-burger">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </label>
        </nav>

        <div class="container2">
            <h2>Tasks</h2>
        	<div style="overflow-x:auto;">
            	<table>
            		<tr>
         				<th>Title</th>
         				<th>Description</th>
         				<th>Deadline</th>
         				<th>Link</th>
         				<th></th>
         				<th></th>
      				</tr>
               		<th:block th:each="todo : ${todos}">
      				<tr>
         				<td th:text="${todo.title}">...</td>
         				<td th:text="${todo.description}">...</td>
         				<td th:text="${todo.targetDate}">...</td>
         				<td><a th:href="${todo.link}"  target="_blank">Lets Go</a></td>
         				<td><a type="button" class="btn btn-success" th:href="@{/update-todo?(id=${todo.id})}">Update</a></td>
       					<td><a type="button" class="btn btn-warning" th:href="@{/delete-todo?(id=${todo.id})}">Delete</a></td>
      				</tr>
             	</table>
        	</div>
        </div>
       
        <footer>
            <div class="container1">
                <div class="sec aboutus">
                    <h2>About Us</h2>
                    <p>We are students of jssateb, working on this project to enhance, develop and implement our skills learnt in the C2tc . This Spring boot application will help you to stay on track and manage your time efficiently.</p>
                </div>
                <div class="sec contact" id="contactus">
                    <h2>Contact Us</h2>
                    <ul class="info">
                        <li>
                            <span><i class="fas fa-envelope"></i></span>
                            <p><a href="mailto:sakshaprakash636@gmail.com">Saksha Prakash</a></p>
                        </li>
                        <li>
                            <span><i class="fas fa-envelope"></i></span>
                            <p><a href="mailto:vibhapatil1330@gmail.com">Vibha Patil</a></p>
                        </li>
                        <li>
                            <span><i class="fas fa-envelope"></i></span>
                            <p><a href="mailto:vikramnpatel5@gmail.com">Vikram Patel</a></p>
                        </li>
                        <li>
                            <span><i class="fas fa-envelope"></i></span>
                            <p><a href="mailto:vyshnavinaidu2109@gmail.com">Vyshnavi C</a></p>
                        </li>
                    </ul>
                </div>
            </div>
        </footer>
        <div class="copyrightText">
            <p>Copyright &copy; 2021. All Rights Reserved.</p>
        </div>
       
    </body>

</html>